/*Name this external file gallery.css*/
body{
    margin: 2%;
    background-color: #b3b3b3;
    display: flex;
}

#image{
    line-height:650px;
    width: 575px;
    height: 650px;
    border:5px solid black;
    margin:0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom:25px;
    font-size: 150%;
    background-size: cover;
    border-radius: 15px;

}

#gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.preview{
    width:50%;
    border-radius: 15px;
    border: 5px solid black;
}

.preview:hover {
    cursor: pointer;
}

img{
    width: 10rem;
    height: 10rem;
    background-size: cover !important;
}